<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}">

   <body>
      <!-- navigation -->
      <div class="border-bottom shadow-sm">
         <nav class="navbar navbar-light py-2">
            <div class="container justify-content-center justify-content-lg-between">
               <a class="navbar-brand" href="../index.html">
                  <img src="../assets/images/logo/freshcart-logo.svg" alt="" class="d-inline-block align-text-top">
               </a>
               <span class="navbar-text">
            <span th:text="#{navbar.account}"></span>
            <a href="login.html" th:text="#{navbar.register}"></a>
         </span>
            </div>
         </nav>
      </div>

      <main>
         <!-- section -->
         <section class="my-lg-14 my-8">
            <!-- container -->
            <div class="container">
               <!-- row -->
               <div class="row justify-content-center align-items-center">
                  <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
                     <!-- img -->
                     <img src="../assets/images/svg-graphics/fp-g.svg" alt="" class="img-fluid">
                  </div>
                  <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1 d-flex align-items-center">
                     <div>
                        <div class="mb-lg-9 mb-5">
                           <!-- heading -->
                           <h1 class="mb-2 h2 fw-bold" th:text="#{main.forgotPassword}"></h1>
                           <p th:text="#{main.resetInstruction}"></p>
                        </div>
                        <!-- form -->
                        <form class="needs-validation" novalidate="">
                           <!-- row -->
                           <div class="row g-3">
                              <!-- col -->
                              <div class="col-12">
                                 <!-- input -->
                                 <label for="formForgetEmail" class="form-label visually-hidden" th:text="#{form.email}"></label>
                                 <input type="email" class="form-control" id="formForgetEmail" th:placeholder="#{form.email}" required="">
                                 <div class="invalid-feedback" th:text="#{validation2.email}"></div>
                              </div>

                              <!-- btn -->
                              <div class="col-12 d-grid gap-2">
                                 <button type="submit" class="btn btn-primary" th:text="#{form.resetPassword}"></button>
                                 <a href="signup.html" class="btn btn-light" th:text="#{form.back}"></a>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </main>


      <!-- Footer -->
      <!-- footer -->
      <div th:replace="~{fragments::footer}"></div>
      <!-- Javascript-->
      <!-- Libs JS -->
      <!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
      <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>

      <!-- Theme JS -->
      <script src="../assets/js/theme.min.js"></script>

      <script src="../assets/js/vendors/validation.js"></script>
   </body>
</html>
